/build
/dist
/releases
/releases_tinywin11
/stuff
/programs
/userprofile/AppData/Local
/userprofile/AppData/icon_cache/*.bmp
/userprofile/Favorites
/WinPE
TinyWin11_English.img
vmware/TinyWin11_English.vmdk
*.iso
*.vhd
*.spec
_backup.rar
