build/
dist/
releases/
releases_tinywin11/
stuff/
*.spec
_backup.rar
programs/
userprofile/AppData/Local
userprofile/AppData/icon_cache/*.bmp
userprofile/Favorites
WinPE/
TinyWin11_English.img
vmware/TinyWin11_English.vmdk
